mx.scratch
!.settings

# CMake build files
build
**/build
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# CMake user files
*.cmake.user
*.cmake.user.*

## clangd
.cache
**/.cache

# VS Code
.vscode/
